__pycache__/
env/
data/
staticfiles/
migrations/
media/
.DS_Store
secret_keys.py

celerybeat-schedule*
celerybeat-schedule.db
*.celerybeat-schedule
celerybeat.pid

flower.pid
flower.log

celery.pid
celery.log

*.celeryconfig
celeryconfig.py

