{% extends 'account/base.html' %}

{% block title %}
    Change password
{% endblock %}

{% block content %}
<div class="container-fluid vh-100 d-flex align-items-center justify-content-center bg-light">
    <form class='position-relative bg-white p-4 rounded shadow-sm d-flex flex-column' method="post">
        <a class="btn position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" href="{% url 'shop:product_list' %}"><i class="bi bi-x-circle"></i></a>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-group">
            <a href="{% url 'account:edit_user' %}" class="btn btn-danger me-3 rounded">Cancel</a>
            <button class="btn btn-success ms-3 rounded">Confirm</button>
        </div>
    </form>
</div>
{% endblock %}