<div class="modal fade" id="categoryModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content position-relative">
      <div class="modal-header">
        <h5 class="modal-title">Add category</h5>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <form method="POST" id="add_category"
        action="{% url 'shop:category_add'}">
        <div class="modal-body">
          <input
            type="hidden"
            id="id_category_id"
            name="category_id"
            value=""
          />
          <div id="alertMessages"></div>
          {% csrf_token %}
          {{ category_form.as_p }}
        </div>
        <div class="modal-footer">
          <button type="button" data-bs-dismiss="modal"
          class="btn btn-secondary" id="modal_close">
            Cancel
          </button>
          <button type="submit" class="btn btn-success" id="category_btn">
            Add category
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
