{% extends 'shop/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}
    {% if product %}
        Update product {{ product.name|truncatewords:1 }}
    {% else %}
        Add product
    {% endif %} 
{% endblock %}

{% block content %}
<div class="container-fluid pb-5">
  <div class="row py-5">
    <div class="col-1 fs-2">
      <a href="{% url 'shop:admin_product_list' %}" style="color: inherit">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
    </div>
    <div class="col ps-5">
      <h2>
        {% if product %}
            Update product {{ product.name|truncatewords:3 }}
        {% else %}
            Add product
        {% endif %}
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <form class="p-2" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mb-3">
            <label for="id_name" class="col-sm-2 col-form-label">
              {{ form.name.label }}:
            </label>
            <div class="col-sm-10">{{ form.name }}</div>
          </div>
          <div class="row mb-3">
            <label for="id_description" class="col-sm-2">
              {{ form.description.label }}:
            </label>
            <div class="col-sm-10">{{ form.description }}</div>
          </div>
          <div class="row mb-3">
            <label for="id_category" class="col-sm-2">
              {{ form.category.label }}:
            </label>
            <div class="col-sm-5">{{ form.category }}</div>
            <div class="col-sm fs-5">
              <!-- Add -->
              <button
                type="button"
                class="btn btn-outline-success rounded-pill"
                data-bs-toggle="modal"
                data-bs-target="#categoryModal"
                id="btnAddCategory">
                <i class="bi bi-plus"></i>
              </button>
              <!-- Edit -->
              <button
                type="button"
                class="btn btn-outline-secondary rounded-pill"
                id="btnEditCategory">
                <i class="bi bi-pencil"></i>
              </button>
            </div>
          </div>
          <div class="row mb-3">
            <label for="id_image" class="col-sm-2">
              {{ form.image.label }}:
            </label>
            <div class="col-sm-5">
              {% if product %}
              <div class="py-3">
                {% thumbnail form.image.value 150x150 as im %}
                <img src="{{ im.url }}" />
              </div>
              <input type="file" name="image" class="form-control" id="id_image"
              {% if form.image.value %}value="{{ form.image.value }}"{% endif %}
              />
              {% else %}
                {{ form.image }}
              {% endif %}
            </div>
          </div>
          <div class="row mb-3">
            <label for="id_available" class="col-sm-2">
              {{ form.available.label }}:
            </label>
            <div class="col-sm-10">{{ form.available }}</div>
          </div>
          <div class="row mb-3">
            <label for="id_price" class="col-sm-2">
              {{ form.price.label }}:
            </label>
            <div class="col-sm-2">{{ form.price }}</div>
          </div>
          <div class="text-end">
            <input type="submit" value="Accept" class="btn btn-success" />
          </div>
        </form>
      </div>
      <div class="col">
        <!-- Change content -->
      </div>
    </div>
    {% include 'shop/product/admin/category_modal.html' %}
  </div>
</div>
<script>
  
</script>
{% endblock %}

{% block domready %}
  const category_change = document.createElement('script');
  category_change.src = "{% static 'js/shop/category_modal.js' %}";
  document.body.appendChild(category_change);
{% endblock %}