{% extends 'shop/base.html' %}

{% block title %}
    Product list
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row my-3">
            <div class="col-1 fs-2">
                <a href="{% url 'account:admin_menu' %}" style="color: inherit">
                    <i class="bi bi-arrow-left-circle"></i>
                </a>
            </div>
            <div class="col-10">
                <h1 class="text-center">Product list</h1>
            </div>
            <div class="text-end py-2 pe-4">
                <a class="btn btn-success" href="{% url 'shop:product_add' %}">
                    Add product
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <!-- Search field by name -->
                <input type="text" name="search" id="admin_search_product"
                class="form-control w-100 my-2" placeholder="Search products">
            </div>
        </div>
        <div class="row">
            <div class="col-2 bg-light">
                <h3 class="text-center">Filters</h3>
                <!-- Filters -->
            </div>
            <div class="col">
                <table class="table table-hover w-100 border-top">
                    <thead class="text-center">
                        <th>Name</th>
                        <th>Date</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </thead>
                    <tbody class="text-center">
                        {% for product in products %}
                        <tr>
                            <td class="text-start">
                                <a style="text-decoration: none; color: inherit"
                                href="{{ product.get_absolute_url }}">
                                    {{ product.name|truncatewords:5 }}
                                </a>
                            </td>
                            <td>
                                {{ product.updated }}
                            </td>
                            <td>
                                <input class="form-check-input bg-success"
                                type="checkbox" id="available"
                                {% if product.available  %}checked{% endif %} disabled>
                            </td>
                            <td class="fw-bold">
                                ${{ product.price }}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'shop:product_update' product.id %}"
                                    class="btn btn-primary me-2 rounded">
                                        Update
                                    </a>
                                    <form action="{% url 'shop:product_delete' product.id %}"
                                    method="post"
                                    onsubmit="return confirm('Are you sure you want to delete product: {{ product.name|truncatewords:1 }}?');">
                                        {% csrf_token %}
                                        <input type="submit" value="Delete"
                                        class="btn btn-danger rounded"/>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% block domready %}
        // Add search func to script
        // when start to develop admin panel
    {% endblock %}
{% endblock %}