{% extends 'shop/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
    {% if cart %}
    <div class="conainer-fluid mt-4 fw-bold text-start fs-6"></div>
        <table class="container-fluid mt-4 border-bottom border-primary border-3">
            <tbody>
                {% for item in cart %}
                    {% with product=item.product %}
                    <tr>
                        <td class="text-center">
                            {% thumbnail product.image 200x200 as im %}
                            <img
                            src="{% if product.image %}{{ im.url }}{% else %}{% static 'img/no_image_available.jpg' %}{% endif %}"
                            style="width: 200px; height:200 px;">
                        </td>
                        <td class="">
                            <h5>
                                <a class='text-decoration-none'
                                href="{{ product.get_absolute_url }}">
                                    {{ product.name }}
                                </a>
                            </h5>
                            <p>{{ product.description|truncatewords:20|linebreaks }}</p>
                        </td>
                        <td class="text-center">
                            <form action="{% url 'cart:add_cart' product.id %}"
                            method="POST">
                                {% csrf_token %}
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.override }}
                                <input type="submit" class="btn btn-secondary"
                                value="Update">
                            </form>
                        </td>
                        <td class="text-start">
                            <form
                            action="{% url 'cart:remove_cart' product.id %}"
                            method="post">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit"
                                value="Remove">
                            </form>
                            
                        </td>
                        <td>
                            ${{ item.price }} 
                            <span style="font-size:x-small">
                                per unit
                            </span>
                        </td>
                        <td class="text-center text-bold fw-bold fs-5">
                            ${{ item.total_price }}
                        </td>
                    </tr>
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
        <div class="container-fluid text-end mt-4">
            <p>
                In your cart {{ cart|length }}
                item{{ cart|length|pluralize:'s' }}
            </p>
            <p class="fs-4">
                Total cost: 
                <span class="fw-bold">${{ cart.total_price }}</span>
            </p>
            <a href="{% url 'cart:clear_cart' %}" class="btn btn-danger">
                Clear
            </a>
            <!-- After create order, add url -->
            <a href="#" class="btn btn-primary">Checkout</a>
        </div>
    {% else %}
        <h2 class="text-center mt-5"  style="min-height: 200px;">
            Your cart is empty...
        </h2>
    {% endif %}
{% endblock %}