{% extends 'shop/base.html' %}

{% block title %}
    Payment canceled
{% endblock %}

{% block content %}
<div class="container-fluid d-flex align-items-center justify-content-center" style="height:500px">
    <div class='position-relative bg-light p-4 rounded shadow-sm d-flex flex-column'>
        <a class="btn position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        href="{% url 'shop:product_list' %}">
            <i class="bi bi-x-circle"></i>
        </a>
        <h1>Your payment hasn't been processed.</h1>
        <p>There was a problem with your payment.</p>
    </div>
</div>
{% endblock %}